@model EstruturaBoostratap.ModelViews.LoginModelView

<div class="identificacao">
    <div class="usuario">Olá <strong>@Model.NomeUsuario</strong></div>
    <div class="deslogar"><a asp-controller="Login" asp-action="Sair" title="Efetuar Logoff">Sair<i class="material-symbols-outlined">move_item</i></a></div>
</div>