@model EstruturaBoostratap.ModelViews.DevedoresModelView

@{
    Layout = "~/Views/Shared/_Modal.cshtml";
}

@section Styles {}
@section Scripts {}

<h1 class="titulo-pagina">Realizar Acordo</h1>
<div class="clear-titulo"></div>
<table class="table table-striped table-hover">
    <thead class="table-light">
        <tr>
            <th>CPF</th>
            <th>Contrato</th>
            <th>Data de Pagamento</th>
            <th>Valor Principal</th>
            <th>Valor Atualizado</th>
        </tr>
    </thead>
    <tbody>

            <tr>
                <td colspan="2">Nenhum registro encontrado!</td>
            </tr>

    </tbody>
</table>