@model EstruturaBoostratap.ModelViews.DevedoresModelView

@section Styles {}
@section Scripts {}

<h1 class="titulo-pagina">Realizar Acordo</h1>
<div class="clear-titulo"></div>



<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
</div>