<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link href='~/images/icon.png' rel='shortcut' type='image/x-icon' />
    <link href='~/images/icon.png' rel='icon' type='image/x-icon' />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <main role="main">
        <div class="container">
            <div class="row justify-content-center align-items-center min-vh-100">
                <div class="col-auto">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>