<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title mt-2">Categories</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow"><i class="fas fa-align-right"></i><span>CSS Resources</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="https://www.cssportal.com/css-at-rules/"><span>CSS At Rules</span></a></li>
                        <li><a href="https://www.cssportal.com/animate-css/"><span>CSS Animations</span></a></li>
                        <li><a href="https://www.cssportal.com/blog/"><span>CSS Blog</span></a></li>
                        <li><a href="https://www.cssportal.com/css3-color-names/"><span>CSS Color Names</span></a></li>
                        <li><a href="https://www.cssportal.com/css-data-types/"><span>CSS Data Types</span></a></li>
                        <li><a href="https://www.cssportal.com/css-functions/"><span>CSS Functions</span></a></li>
                        <li><a href="https://www.cssportal.com/css3-preloaders/"><span>CSS Preloaders</span></a></li>
                        <li><a href="https://www.cssportal.com/css-properties/"><span>CSS Properties</span></a></li>
                        <li><a href="https://www.cssportal.com/css-pseudo-class/"><span>CSS Pseudo Classes</span></a></li>
                        <li><a href="https://www.cssportal.com/css-quiz/"><span>CSS Quiz</span></a></li>
                        <li><a href="https://www.cssportal.com/css-selectors/"><span>CSS Selectors</span></a></li>
                        <li><a href="https://www.cssportal.com/css3-shapes/"><span>CSS Shapes</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow"><i class="fas fa-screwdriver-wrench"></i><span>CSS Tools</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="https://www.cssportal.com/less-to-css/"><span>LESS to CSS Compiler</span></a></li>
                        <li><a href="https://www.cssportal.com/scss-to-css/"><span>SCSS to CSS Compiler</span></a></li>
                        <li><a href="https://www.cssportal.com/stylus-to-css/"><span>Stylus to CSS Compiler</span></a></li>
                        <li><a href="https://www.cssportal.com/css-to-less/"><span>CSS to LESS Converter</span></a></li>
                        <li><a href="https://www.cssportal.com/css-to-scss/"><span>CSS to SCSS Converter</span></a></li>
                        <li><a href="https://www.cssportal.com/css-to-stylus/"><span>CSS to Stylus Converter</span></a></li>
                        <li><a href="https://www.cssportal.com/css-color-converter/"><span>CSS Color Converter</span></a></li>
                        <li><a href="https://www.cssportal.com/css-cursor-viewer/"><span>CSS Cursor Viewer</span></a></li>
                        <li><a href="https://www.cssportal.com/css-font-preview/"><span>CSS Font Preview</span></a></li>
                        <li><a href="https://www.cssportal.com/css-formatter/"><span>CSS Code Formatter</span></a></li>
                        <li><a href="https://www.cssportal.com/css-lengths/"><span>CSS Lengths</span></a></li>
                        <li><a href="https://www.cssportal.com/css-optimize/"><span>CSS Code Optimizer</span></a></li>
                        <li><a href="https://www.cssportal.com/css-validator/"><span>CSS Validator</span></a></li>
                        <li><a href="https://www.cssportal.com/css-style-editor/"><span>CSS Visual Style Editor</span></a></li>
                        <li><a href="https://www.cssportal.com/image-to-data/"><span>Convert Image to Data</span></a></li>
                        <li><a href="https://www.cssportal.com/online-css-editor/"><span>Online CSS Editor</span></a></li>
                    </ul>
                </li>
                <hr>
                <li class="menu-title mt-2">References</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow"><i class="fas fa-at"></i><span>CSS At-Rules</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href='https://www.cssportal.com/css-at-rules/charset.php'>charset</a></li>
                        <li><a href='https://www.cssportal.com/css-at-rules/counter-style.php'>counter-style</a></li>
                        <li><a href='https://www.cssportal.com/css-at-rules/document.php'>document</a></li>
                        <li><a href='https://www.cssportal.com/css-at-rules/font-face.php'>font-face</a></li>
                        <li><a href='https://www.cssportal.com/css-at-rules/font-feature-values.php'>font-feature-values</a></li>
                        <li><a href='https://www.cssportal.com/css-at-rules/import.php'>import</a></li>
                        <li><a href='https://www.cssportal.com/css-at-rules/keyframes.php'>keyframes</a></li>
                        <li><a href='https://www.cssportal.com/css-at-rules/media.php'>media</a></li>
                        <li><a href='https://www.cssportal.com/css-at-rules/namespace.php'>namespace</a></li>
                        <li><a href='https://www.cssportal.com/css-at-rules/page.php'>page</a></li>
                        <li><a href='https://www.cssportal.com/css-at-rules/supports.php'>supports</a></li>
                        <li><a href='https://www.cssportal.com/css-at-rules/viewport.php'>viewport</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>